<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.tamawilson.mybatisquerybuilderexample.mapper.FooMapper">

    <resultMap id="fooMap" type="br.com.tamawilson.mybatisquerybuilderexample.model.Foo">
        <id column="id" property="id" />
        <result property="id" column="aaa00_id"/>
        <result property="lastStatus" column="aaa00_last_status"/>
        <result property="quantity" column="aaa00_qtd"/>
        <result property="description" column="aaa00_description"/>
        <association property="bar"
                     resultMap="br.com.tamawilson.mybatisquerybuilderexample.mapper.BarMapper.barMap"/>
    </resultMap>


    <select id="findByCriteria" resultMap="fooMap">
        select * from foo
        inner join bar on
        aaa01_id = aaa00_id_bar
        <if test="predicate != null">
            where ${predicate}
        </if>
    </select>
</mapper>